@page
@model DesenvolvedorNET.Pages.Usuario.IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @{

    }
</body>
</html>