body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    width: 100vw;
}

#app {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: "Nunito",sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    transition: margin-left 250ms ease-in-out 50ms;
    width: 100vw;
}

#navbar-main {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: "Nunito",sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    background-color: #fff;
    min-height: 3.25rem;
    box-shadow: 0 1px 0 rgba(24,28,33,.04);
    display: flex;
    padding-right: 0;
    transition: margin-left 250ms ease-in-out 50ms;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    top: 0;
    width: 100vw;
}
.navbar-brand {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: "Nunito",sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    flex: 1;
}
