@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br" class=" has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.min.css" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="app">
        @Html.Partial("_Nav")
        <aside class="aside is-placed-left is-expanded">
            <div class="aside-tools">
                <div class="aside-tools-label">
                    <span>Estoque</span>
                </div>
            </div>
            <div class="menu is-menu-main">
                <p class="menu-label">Geral</p>
                <ul class="menu-list">
                    <li>
                        <a asp-action="index" asp-controller="home" asp-area="" class="has-icon">
                            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                            <span class="menu-item-label">Home</span>
                        </a>
                    </li>
                </ul>
                <p class="menu-label">Menu estoque</p>
                <ul class="menu-list">
                    <li>
                        <a asp-action="index" asp-controller="home" asp-area="estoque" class="has-icon">
                            <span class="icon"><i class="mdi mdi-table"></i></span>
                            <span class="menu-item-label">Estoque</span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>
        <div>
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            © 2023 by me. Proudly created with Bulma and Admin One.
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div class="logo">
                                <a href="https://justboil.me/">JustBoil.me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Scripts below are for demo only -->
    <script type="text/javascript" src="~/js/main.min.js"></script>

    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css">
</body>
</html>