@using DesenvolvedorNET.ViewModels.Estoque
@model UsuarioLoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrar usuario";
}
<section class="section is-main-section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-fifths">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="mdi mdi-account-multiple-plus"></i>
                            </span>
                            Novo usuario
                        </p>
                    </header>
                    <div class="card-content">
                        @if (ViewData.ModelState.ErrorCount > 0)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }
                        <form method="POST" asp-action="login" asp-controller="usuario" asp-area="estoque">
                            <div class="field">
                                <label asp-for="Email" class="label">E-mail Address</label>
                                <div class="control is-clearfix">
                                    <input type="email" asp-for="Email" required="required" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label asp-for="Password" class="label">Password</label>
                                <div class="control is-clearfix">
                                    <input type="password" asp-for="Password" required="required" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label asp-for="RememberMe" class="b-checkbox checkbox is-thin">
                                    <input type="checkbox" asp-for="RememberMe">
                                    <span class="check is-black"></span>
                                    <span class="control-label"> Remember me </span>
                                </label>
                            </div>
                            <hr>
                            <div class="field">
                                <div class="field-body">
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button type="submit" class="button is-black">
                                                <span> Login </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>



