@using DesenvolvedorNET.ViewModels;
@model UsuarioDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}
<h1>@ViewBag.Title</h1>
<table>
    <tr>
        <td>Id</td>
        <td>@Model.Usuario.Id</td>
    </tr>
    <tr>
        <td>Nome</td>
        <td>@Model.Usuario.Nome</td>
</table>