@using DesenvolvedorNET.ViewModels;
@model UsuarioDetailsViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = Model.Title;
}
<div class="row">
    <div class="container is-fluid">
        <h1 class="is-size-1">@ViewBag.Title</h1>
        <table class="table is-bordered">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>@Model.Usuario.Id</td>
                </tr>
                <tr>
                    <td>Nome</td>
                    <td>@Model.Usuario.Nome</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>